@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Modern Negra";
  src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@theme {
  --color-yellow: #e7d393;
  --font-poppins: "Poppins", serif;
  --font-modern-negra: "Modern Negra", serif;
}

.gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: "text";
  background-clip: text;
  color: transparent;
}

.radial-gradient {
  background: #3d3d3d;
  background: radial-gradient(
    circle,
    rgba(61, 61, 61, 0.8) 1%,
    #000 40%,
    #000 100%
  );
}

#art-heading {
  -webkit-background-clip: text;
  background-clip: text;
  color: #2e2e2e4b;
}

.mask-img {
  mask-image: url("./images/mask-img.png");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;
}
